
.cabecalho {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: var(--branco);
  position: relative;
}

.cabecalho_menu {
  display: inline-block;
  background-image: url('../img/Menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.container {
  display: flex;
  align-items: center;
}

.container_imagem { padding: 1em; }

.container_lista {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container_botao:checked ~ .container_lista {
  display: block;
  z-index: 99;
}

.container_lista-titulo, .container_lista-item {
  padding: 1em;
  background-color: var(--branco);
}

.container_botao:checked ~ .container_rotulo > .cabecalho_menu {
  background-image: url(../img/MenuAberto.png);
}

.container_botao:checked ~ .container_rotulo {
  background: var(--azulMarinho);
}

.container_lista-titulo {
  color: var(--laranja);
  font-weight: bold;
}

.container_lista_link {
  background: var(--azulMarinho);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container_titulo,
.container_titulo-alura,
.container_botao,
.opcoes,
.container_texto { display: none; }
